<div>
    <h1>Two Way Data Binding</h1>
    <form>
        <section class="inputs-twdb">
            <label>Nome:</label>
            <input type="text"
            [(ngModel)]="name"
            name="name"
            placeholder="Digite seu nome"
            autocomplete="off"/>
        </section>
        @if(name){
            <section class="inputs-twdb">
                <label>Idade:</label>
                <input type="number" [(ngModel)]="idade" name="idade"placeholder="Didite sua Idade"/>
            </section>
        }
        
        <input type="submit" value="Enviar">
    </form>
    @if(name && idade){
        <p>Olá {{name}}, você tem {{idade}} anos!!</p>
    }
</div>
