/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    margin: auto;
    text-align: center;
    background-color: black;
    color: BLue;
    font-size: 800;
    padding: 20px;
}
p{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

div{
    margin: 20px auto;
    text-align: center;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}